@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,800;1,900&family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1240px;
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
}

.gap-b {
    margin-bottom: 100px;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.hide {
    display: none;
}

.logo {
    font-size: 24px;
    color: #3A3A3A;
    width: 50%;
}

.menu-item {
    width: 50%;
}

.menu-item ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
}

.menu-item ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: #3A3A3A;
}

/* header section */

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 100px;
    justify-items: center;
}

.title h1 {
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 16px;
}

.head-btn {
    background: #E02C6D;
    border: none;
    width: 196px;
    height: 44px;
    color: #fff;
    padding: 10px 24px;
    border-radius: 40px;
    margin-top: 16px;
}

.thumbnail {
    width: 475px;
    height: 475px;
    background: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}


.thumbnail img {
    width: 440px;
    height: 414px;
    margin-top: 20px;
}

/* branding */

.branding {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    height: 110px;
    box-shadow: 0px 0px 25px -8px lightgrey;

}

/* related product */

.collection-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.card {
    width: 330px;
    height: 430px;
    box-shadow: 0px 0px 30px -12px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 5px;
}

.card-img {
    width: 300px;
    height: 256px;
}

.info {
    padding: 0px 14px;
}

.card-title {
    font-size: 28px;
}

.price {
    font-size: 24px;
}

.f {
    color: #FB8200;
}

.card-para {
    font-size: 14px;
}

.more {
    text-align: end;
    margin-right: 50px;
}

.see-more,
.fa-right-long {
    text-decoration: none;
    color: #E02C6DDE;
}

/* equipment */

.equipment {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.th {
    width: 50%;
}

.equipment-img {
    width: 404px;
    height: 270px;
}

.article h1 {
    font-size: 38px;
    margin-bottom: 16px;
}

.btn {
    width: 155px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: white;
    border: transparent;
    margin-top: 16px;
    border-radius: 40px;
}

/* footer */

.footer {
    background-color: rgb(4, 4, 33);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.c {
    color: #fff;
}

.icon i {
    margin: 16px;
    color: #fff;
    background-color: #3A3A3A;
    padding: 8px;
    border-radius: 50%;
}

/* responsive */

@media screen and (max-width:687px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
    }

    .gap-b {
        margin-bottom: 50px;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0px;
    }

    .hide {
        display: block;
    }


    .logo {
        font-size: 18px;
        width: 100%;
        text-align: center;

    }

    .menu-item {
        display: none;
    }


    .header {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        grid-column-gap: 0px;
    }

    .thumbnail {
        width: 257px;
        height: 257px;
    }

    .thumbnail img {
        width: 202px;
        height: 190px;
    }

    .branding {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        padding: 40px 0px;
    }

    .branding img {
        margin: 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .card {
        width: 96%;
        height: 100%;
        box-shadow: 0px 0px 30px -12px lightgray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
        padding: 10px;
    }

    .card-img {
        width: 100%;
        height: 100%;
    }

    .info {
        padding: 0px;
    }

    .card-title {
        margin-top: 5px;
    }

    .card-para {
        font-size: 16px;
        margin-top: 5px;
        width: 70%;
    }

    .f {
        margin-top: 5px;
    }

    .more {
        text-align: center;
        margin-top: 32px;
    }

    .equipment {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }

    .equipment-img {
        width: 100%;
    }

    .th {
        width: 100%;
    }

    .article {
        text-align: center;
    }


}

@media screen and (min-width: 689px) and (max-width:992px) {



    .hide {
        display: none;
    }

    .menu-item {
        width: 70%;
    }

    .gap-b {
        margin-bottom: 50px;
    }

    .nav {
        display: flex;
    }

    .header {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        grid-column-gap: 0px;
    }

    .thumbnail {
        width: 90%;
        background: url("../images/Circle\ design.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }

    .thumbnail img {
        width: 70%;
    }

    .branding {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        padding: 40px 0px;
    }

    .branding img {
        margin: 20px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .card {
        width: 96%;
        height: 100%;
        box-shadow: 0px 0px 30px -12px lightgray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
        padding: 10px;
    }

    .card-img {
        width: 100%;
        height: 100%;
    }

    .info {
        padding: 0px;
    }

    .card-title {
        margin-top: 5px;
    }

    .card-para {
        font-size: 16px;
        margin-top: 5px;
        width: 80%;
    }

    .f {
        margin-top: 5px;
    }

    .more {
        text-align: center;
        margin-top: 40px;
    }

    .equipment {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }

    .equipment-img {
        width: 100%;
    }

    .th {
        width: 100%;
    }

    .article {
        text-align: center;
    }


}